name: tubitak_mobile
description: "Zeytin hastalıklarının erken tespiti için mobil uygulama."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.8.1

dependencies:
  flutter:
    sdk: flutter

  # UI & State
  provider: ^6.1.5+1

  # SVG desteği
  flutter_svg: ^2.0.9

  # iOS ikonları
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/
